.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #ff00ff);
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .centered-top-image {
    max-width: 100%;
    height: auto; 
  }
  