/* VideoBackground.css */
video {
  position: fixed;
  right: 0; 
  bottom: 0;
  top: 0;

  min-width: 100vw; /* Cover the full viewport width */
  min-height: 90vh; /* Cover the full viewport height */
  object-fit: cover; /* Ensure the aspect ratio is maintained while covering */
  z-index: -1; /* Position beneath other content */
}

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
