#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background: #242424;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.valorant:hover {
  filter: drop-shadow(0 0 2em #e62e00);
}

.logo.LOL:hover {
  filter: drop-shadow(0 0 2em #ff00ff);
}

.logo.CS:hover {
  filter: drop-shadow(0 0 2em #fff);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
/* Existing styles... */

/* NavBar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ddd;
  z-index: 1000;
}

.logo_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.nav_image_Logo img {
  height: 50px;
}

.logo_name {
  font-weight: bold;
}

.bx {
  font-size: 1.5rem;
  cursor: pointer;
}

#lock-icon {
  margin-right: 10px;
}

#sidebar-close {
  display: none; /* Adjust as needed for the closing logic */
}

.menu_container {
  margin-top: 1rem;
}

.menu_items {
  list-style-type: none;
  padding: 0;
}

.menu_item .item {
  padding: 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.link:hover {
  background-color: #f0f0f0;
}

.link.flex {
  justify-content: start;
}

.link i {
  margin-right: 0.5rem;
}

.menu_title .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.menu_title .line {
  height: 2px;
  background-color: #000;
  width: 100%;
  margin-top: 0.5rem;
}

.popup {
  position: relative;
}

.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup:hover .popuptext {
  visibility: visible;
}
/* App.css */

/* Assuming the sidebar has a width of 250px */
.app-container {
  display: flex;
  min-height: 100vh; /* Full viewport height */
  padding-left: 250px; /* Space for the sidebar */
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Width of the sidebar */
  height: 100vh; /* Full viewport height */
  background-color: #fff;
  /* rest of your styles */
}

/* Main content styles */
.main-content {
  flex-grow: 1;
  padding: 1rem;
  /* rest of your styles */
}

/* Right panel styles */
.right-panel {
  width: 200px; /* Adjust the width as necessary */
  padding: 1rem;
  text-emphasis-color: red;
  /* rest of your styles */
}

/* Ensure the rest of your styles are correct */


/* Add more styles as needed... */
